.button{
	height: 25px;
	width: 50px;
	text-align: center;
	background-color: #70BF73;
	border-radius: 20px;
}
.LRbutton
{
	height: 25px;
	width: 20px;
	text-align: center;
	background-color: lightgrey;
	border-radius: 20px;
}
#ToBackspace_Left,#ToClear_Left,#ToBackspace_Right,#ToClear_Right{
	width: 50px;
}
.IntegrateButtons
{
	height: 25px;
	width: 150px;
	text-align: center;
	background-color: lightgrey;
	border-radius: 20px;
}
#ToEvaluate,#ToClear{
	width: 158px;
}
#ToBackspace{
	width: 104px;
}
body {
	background-color: lightblue;
}
#controls_display{
	text-align: center;
	margin-left: 300px;
	margin-right: 300px;
	background-color: white;
	padding: 15px;
	border-style: groove;
	border-radius: 15px;
	border-width: 5px;
	border-color: green;
}
.displays{
	background-color: white;
	word-wrap: break-word;
	word-break: break-all;
	display: block;
	text-align: center;
	padding: 5px;
	margin-left: 300px;
	margin-right: 300px;
	border-style: groove;
	border-radius: 15px;
	border-width: 5px;
	border-color: green;
}
